body{
    margin: 0 auto;
    background-color: #f5dbb6;
}


.month{
    text-align: center;
    font-size: 35px;
    background-color: #1a363f;
    color: #fff;
    padding: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
    background-color: #fe623e;
    text-align: center;
}

.dates{
    display: grid;
    grid-template: repeat(6,minmax(50px, auto)) / repeat(7, 1fr);
    grid-gap: 3px;
    background-color: #fff;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.date{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date:hover{
    background-color: #eaeaea;
    cursor: pointer;
}
